<p>halo</p>



<% if @user.listings %>
<h3><%=link_to "Current Listings", user_listings_path(@user) %></h3>

<% end %>

<% if @user.id == current_user.id && current_user.reservations %>
	<h3><%=link_to "Current Reservations", reservations_path(current_user)%></h3>
<% end %>